//colors
$color_woodsmoke_approx: #111;
$color_gallery_approx: #eee;
$color_mine_shaft_60_approx: rgba(51, 51, 51, 0.6);
$color_tundora_approx: #444;
$color_fuscous_gray_approx: #555;
$color_mountain_mist_approx: #999;

//fonts
$font_0: Roboto;


.profile-card {
  height: 100%;
  background: $color_gallery_approx;
  display: flex;
  flex-flow: wrap;

  .profile-thumbnail {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    bottom: 50%;
    margin-left: auto;
    margin-right: auto;
    top: -40px;
    margin-bottom: -30px;
    background-size: cover;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }

  .profile-info {
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


	  .profile-card-info {
	  	color: $color_fuscous_gray_approx;
	  	font-size: .8em;
	  	text-align: center;
	  }
    
    h2 {
      color: $color_tundora_approx;
      padding: 0;
      margin: 0;
    }
  }

}
