.profile-post {
  width: 250px;
  height: 200px;
  margin: 20px;
  background: #fefefe;
  flex: 0 0 auto;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.20);
  border-radius: 4px;

  .profile-post-image {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}

.post{
  flex-basis: 32%;
  margin-bottom: 20px;
  border: 1px solid rgba(0,0,0,0.15);
  
}
.post .image{
  height: 100px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.post h2{
  font-size: 18px;
  margin: 0;
  padding: 20px 20px 0 20px;
}

.post h3{
  font-size: 16px;
  margin: 0;
  padding: 8px 20px 20px 20px;
  font-weight: normal;
}
