$HEADER_BG: #222;
$LINK_COLOR: #212121;

.toolbar_container {
  overflow: hidden;
  padding: 1em;
  height: 64px;
  position: relative;
  margin-left: 40px;
  margin-right: 40px;


  .toolbar_link {
    color: $LINK_COLOR;
    text-decoration: none;
    a:visited {
      color: $LINK_COLOR;
    }
  }

  .toolbar_container__wide {
    display: none;
    margin: 0 auto;

    .toolbar_links__wide {
      text-align: right;

      text-align: right;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      left: 0;

      .toolbar_link {
        list-style: none;
        display: inline-block;
        padding: 0 2em;
      }
    }
    .toolbar_container__wide_logo {
      width: 50px;
      height: auto;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .toolbar_container__mobile {
    .toolbar_btn__mobile {
      float: left;
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    .toolbar_links__mobile {
      display: none;
      position: absolute;
      .toolbar_link {
        list-style: none;
        display: block;
        float: left;
        clear: left;
        padding: 0.5em 0;
      }
    }

  }
}

@media (min-width: 820px) {
  .toolbar_container {
    .toolbar_container__wide {
      display: block;
    }
    .toolbar_container__mobile {
      display: none;
    }
  }
}
