.profile-picture {
  margin-right: 5px;
  float: left;
  border-radius: 50%;
  /*background: url(example.jpg) 50% 50% no-repeat;  50% 50% centers image in div */
  background-size: auto 100%;
  /* Interchange this value depending on prefering width vs. height */
  width: 35px;
  height: 35x; }

.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute !important; }
